.section2{
  margin: auto;
  width: 1440px;
  height: 1074px;
  background-color: rgb(244, 238, 250);
}

.section2__title{
  padding-top: 5px;
  padding-bottom: 48px;
  font-size: 62px;
  text-align: center;
}

.section2__text{
  text-align: center;
  font-family: "Khula Regular";
  font-size: 30px;
  line-height: 1.2;
  padding-bottom: 81px;
}

.section2__contents{
  display: flex;
  justify-content: space-around;
}

.section2__content{
  height: 528px;
  width: 328px;
  background-color: darkslategray;
}