.section3-4 {
  margin: auto;
  height: 780px;
  display: flex;
}
.section3{
  background-color: var(--COLOR_DARK_GREY);
}
.section4{
  background-color: var(--COLOR_MID_ORANGE);
}

.section3-4__image {
  height: 100%;
  width: 50%;
}
.section3-4__wrap-contents {
  height: 100%;
  width: 50%;
  color: var(--COLOR_WHITE);
}
.section3-4__title {
  font-family: "Khula Bold", sans-serif;
  margin: 198px 0px 0px 62px;
  font-size: 62px;
  text-align: left;
  line-height: 70px;
}

.section3-4__content-text {
  margin: 52px 0px 0px 57px;
  font-family: "Khula Regular", sans-serif;
  font-size: 31px;
  line-height: 1.12;
}

.section3-4__button {
  display: block;
  font-family: "Khula Bold", sans-serif;
  font-weight: 900;
  font-size: 31px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 53px auto 0 57px;
  padding-top: 14px;
  width: 336px;
  height: 78px;
  border: none;
  border-radius: 40px;
  color: var(--COLOR_WHITE);
}

.section3__button{
  background-color: var(--COLOR_STRONG_ORANGE);
}
.section4__button{
  background-color: var(--COLOR_LIGHT_ORANGE);
}